*{
   margin:0px;
   padding:0px;
}
div{
   padding-left:20px;
   padding-right: 20px;

}

header,footer{
    text-align:center ;
    color: white;   
    width: 100%;

    background-color: #233345;
 }

 body{
    background: #D9D9D9;
    padding: 0px;
    margin: 0px;
 }
 main{
    
    width: 90%;
    margin: 0 auto;

 }
 .mainBlock{
    color:white;
    width :45%;
    
    background-color: #798B8F;
    padding: 5px;
    margin:15px;
    display: inline-block;
    border :#798B8F solid 1px;
    border-radius: 5px;
    
 }
 @media screen and (max-width: 700px){
    .mainBlock{
        
        width :80%;
        
     }
    
 }
 img{
    width:60%;
    padding:1% 20%;
 }
 a{
    text-decoration: none;
    
 }
    
 a:hover{
    color:rgb(230, 122, 122);
   
 }
 table,td,th{
   border:#233345 1px solid;

 }
 #skill{
   padding-left: 5%;
 }
 li{
   margin-left:25px;
 }
 h1{
   padding-left: 35px;
   padding-bottom: 10px;
 }


 html, body {
   height: 100%;
   
}



footer {
   position: absolute;
   bottom: 0;
   height: 50px; 
   
}
main {
   padding-bottom: 50px; /* Висота футера */
}
 
 
 